<mat-card>
    <mat-card-header>
        <mat-card-title>
            <b>{{task.name}}</b>
            {{task.date}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{task.description}}
    </mat-card-content>
    <mat-card-content>
        {{task.points}}
    </mat-card-content>
    <mat-card-content>
        {{task.state}}
    </mat-card-content>

    <button mat-fab matTooltip="Primary" color="primary" (click)="deleteTask(task.id)">
        <mat-icon>delete</mat-icon>
      </button>
  </mat-card>